ESI_CLIENT_ID=XXXX
ESI_SECRET=XXXX
ESI_CALLBACK_URL=https://api.wh.cultofmagik.org/api/auth/callback
PORT=7777
REDIS_URL=redis:6379
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=eve_mapper
FRONTEND_URL=https://wh.cghhltofmagik.org
